.navbar-brand{
    color: white!important;
    background-color: teal;
    font-weight: bold;
     

}

.card-header {
    color: teal!important;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-mb-3 {
    margin-top: 75px;
    background-color: white;
    padding-bottom: 30px;
    margin-bottom: 50px;
    padding-left: 30px;
    margin-left: 30px;
}

img {
    padding-top: 15px;
}

.contact-header {
    color: teal;
    padding-left: 15px;
}

.card {
    margin-top: 75px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    padding-left: 30px;
    margin-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
}

.form-control {
    margin-bottom: 15px;

}

#exampleInputMessage {
    height: 115px;
}

.card-header {
    padding-top: 0px;
}