.navbar-brand{
    color: white!important;
    background-color: teal;
    font-weight: bold;
     

}

.card-header {
    color: teal!important;
    background-color: white;
}

.card-mb-3 {
    margin-top: 75px;
    background-color: white;
}